img{
    max-width: 100%;
    height: 200px;
    border-left: 5px dotted rgb(88, 84, 84);
    padding: 20px;
    margin-left: 20px;
    opacity: .5;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 80%;
}

td,th{
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
th{
    text-transform: uppercase;
}
tr{
    background-color: white;
}
p{
    font-size: 1.6rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    grid-template-rows: minmax(auto,auto);
}

div.x{
    background-color: #c5c2c2;
    font-size: 1.6rem;
    padding:1rem;
    border: 1px dashed black;
}

div:hover{
    background-color: #dedede;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;/*it works with f-d=row*/
    align-items: center;/*it works with f-d=row*/
}

div.child{
    background-color: green;
    color: yellowgreen;
    font-size: 3rem;
    border: none;
    width: 30rem;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
}

/*to select one type [tyep="text"}*/
input,textarea{
    display: block;
    width: 80%;
    font-size: 1.8rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin: 1rem;
}

label{
    font-size: 1.8rem;
}

button{
    background-color: black;
    font-size: 1.8rem;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1rem;
}